.home_container{
  margin-top: 56px;
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

/* start card item  */
.card_item_discription {
  height: 77px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card_item_price_container {
  margin-right: 10px;
  display: flex;
}

.card_item_price_container span:nth-child(2) {
  font-size: 22px;
  margin: 0 2px 0 0;
}
.card_item_price_container span:not(:nth-child(2)) {
  font-size: 14px;
}
